<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Corman</title>
    <link rel="stylesheet" href="~/css/global.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Corman.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href='@ViewData["CSSPage"]' />
    <link rel="stylesheet" href="~/lib/fontawesome-free-6.4.0-web/css/all.css"/>
</head>
<body>
    <div class="app-wrapper">
        <header>
            <nav class="nav-bar">
                <div class="logo-wrapper">
                    <img alt="CornCorn Logo" src="/images/logo.png" />
                </div>

                <i class="fas fa-search"></i>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="">
                @RenderBody()
            </main>
        </div>

        <footer class="">
        </footer>
    </div>

    <script src="~/js/global.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
